<div class="container">
    <div *ngIf="isLoading" class="d-flex justify-content-center mt-5 pt-5">
        <div class="spinner-grow text-primary mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-danger mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-warning mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div *ngIf="!isLoading">
        <div class="text-center mt-5">
            <h2 class="fw-bold text-white">{{ electionDetail.name }}</h2>
            <div class="mb-2">
                <div class="row">
                    <div class="col-6">
                        <label class="form-label text-center fw-bold">Start Date</label>
                        <h4 class="text-white fw-semibold">{{ electionDetail.startDate }}</h4>
                    </div>
                    <div class="col-6">
                        <label class="form-label text-center fw-bold">End Date</label>
                        <h4 class="text-white fw-semibold">{{ electionDetail.EndDate }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div *ngFor="let candidate of candidates" class="card">
                <div class="img">
                    <img src="{{ candidate.photo }}" alt="Candidates" class="img">
                </div>
                <h3>{{ candidate.name }}</h3>
                <h3>{{ candidate.faculty }}</h3>
                <p>{{ candidate.Description }}</p>
                <p>{{ candidate.jargon }}</p>
                <button type="button" (click)="onVoteClicked(candidate.candidateId)">Vote</button>
            </div>
        </div>
    </div>
</div>