<div class="container wrapper">
    <div class="login">
        <div class="login-icon">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAMAAACahl6sAAAAG1BMVEXMzMyWlpaxsbGcnJyqqqqjo6PFxcW3t7e+vr5Fs8QwAAABKUlEQVR4nO3Wy66DIBQFUHmo/f8vvgpN1aa1mih3stbAnMmOB0Sg6wAAAAAAAAAAAAAAAAAAAAAAAPgXMYUUazl+LC9M3akPs1yaK2V8Ky9M3WmcXzw18Oi6Ye4shzBsygtTtxrTPK1lGqfGPpQXpu43lJf3oe+ez1VZhbnH8jiTaq4vyyGVNZ9D2pTVNIZxfBvI71Rrsf62dU3EOvev8imHnOvPfSbV1jTTZQ53Wxrm/Wg4m2rqMXU0/G4ph80HOZhqKZVdtPu12qcvMJ5PNRRfDe7vPymsGzyaamdYVszuiTCGvl8+ydFUQ3H5hXfP6DRvv+lsqqEUqmd7X25N4e1APJZqat3S+kobN/fYekHMHwfyPQUAAAAAAAAAAAAAAAAAAAAAAHz1B37EBWsRO03hAAAAAElFTkSuQmCC" alt="login icon" class="login-icon">
        </div>
        <div class="login-text">
            <h3 class="login-title">LOGIN</h3>
            <p class="login-subtitle">Please enter your name and password</p>
        </div>
        <div class="login-field">
            <form class="login-form" (submit)="onLogin()" [formGroup]="loginForm">
                <input type="text" class="login-input" placeholder="NRP" formControlName="userID">
                <input type="text" class="login-input" placeholder="Email" formControlName="email">
                <input type="password" class="login-input" placeholder="Password" formControlName="password">
                <select id="org" name="org" class="login-input" formControlName="org">
                    <option value="committee">Committee</option>
                    <option value="voter">Voter</option>
                </select>
                <button type="submit" class="login-button">LOGIN</button>
            </form>
        </div>
        <div class="login-footer">
            <p class="login-footer-item">Or join our fantastic community <span><a routerLink="/register" class="login-link fw-bold">here</a></span></p>
        </div>
    </div>
</div>