<div class="container wrapper">
    <div class="login">
        <div class="login-icon">
            <img src="/assets/logo/logo.png" alt="login icon" class="login-icon">
        </div>
        <div class="login-text">
            <h3 class="login-title text-uppercase">LOGIN {{ checkUserOrg() }}</h3>
            <p class="login-subtitle">Please enter your name and password</p>
        </div>
        <div class="login-field">
            <form class="login-form" (submit)="onLogin()" [formGroup]="loginForm">
                <input type="text" class="login-input" placeholder="Email" formControlName="email">
                <input type="password" class="login-input" placeholder="Password" formControlName="password">
                <button type="submit" class="login-button">LOGIN</button>
            </form>
        </div>
        <div class="login-footer">
            <p *ngIf="checkUserOrg() !== 'adminops'" class="login-footer-item">Forgot password? <span><a (click)="onForgotPassword()" class="login-link fw-bold">click here</a></span></p>
            <p *ngIf="checkUserOrg() === 'adminops'" class="login-footer-item">First time login? <span><a (click)="adminFirstLogin()" class="login-link fw-bold">click here</a></span></p>
            <div class="login-roles">
                <p class="login-footer-item mt-3">Not {{ checkUserOrg() }}?</p>
                <div *ngIf="checkUserOrg() === 'voter'" class="role-selection">
                    <p class="wd-100 text-end"><a routerLink="/committee/login" class="login-link fw-bold">Committee</a></p>
                    <p class="fw-bold">|</p>
                    <p class="wd-100 text-start"><a routerLink="/admin/login" class="login-link fw-bold">Admin</a></p>
                </div>
                <div *ngIf="checkUserOrg() === 'committee'" class="role-selection">
                    <p class="wd-100 text-end"><a routerLink="/login" class="login-link fw-bold">Voter</a></p>
                    <p class="fw-bold">|</p>
                    <p class="wd-100 text-start"><a routerLink="/admin/login" class="login-link fw-bold">Admin</a></p>
                </div>
                <div *ngIf="checkUserOrg() === 'adminops'" class="role-selection">
                    <p class="wd-100 text-end"><a routerLink="/login" class="login-link fw-bold">Voter</a></p>
                    <p class="fw-bold">|</p>
                    <p class="wd-100 text-start"><a routerLink="/committee/login" class="login-link fw-bold">Committee</a></p>
                </div>
            </div>
        </div>
    </div>
</div>