.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login {
    width: 40vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #F89F5B;
    border-radius: 24px;
    box-shadow: 5px 10px #888888;
}
.login-icon {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}
.login-text {
    text-align: center;
}
.login-title {
    color: #fff;
}
.login-subtitle {
    color: #fff;
}
.login-footer-item {
    color: #fff;
    text-align: center;
}
.login-link {
    color: #000;
}
.login-field {
    width: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form {
    width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.login-input {
    width: 30vh;
    padding: 8px;
    border-radius: 24px;
    border-color: transparent;
}
.login-button {
    width: 30vh;
    padding: 8px;
    border-radius: 24px;
    border-color: #F89F5B;
    background: linear-gradient(34deg, rgba(156,53,135,1) 0%, rgba(220,62,116,1) 100%, rgba(229,63,113,1) 100%, rgba(0,212,255,1) 100%);
    color: #fff;
    font-weight: bold;
}
.login-roles {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.role-selection {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.wd-100 {
    width: 100px;
}