<div class="container wrapper">
    <div class="login">
        <div class="login-text">
            <h3 class="login-title">Register</h3>
            <p class="login-subtitle">Please fill the required input</p>
        </div>
        <div class="login-field">
            <form action="" class="login-form">
                <input type="text" class="login-input" placeholder="Nama">
                <input type="text" class="login-input" placeholder="NRP">
                <input type="text" class="login-input" placeholder="Email">
                <input type="password" class="login-input" placeholder="Password">
                <select id="org" name="org" class="login-input">
                    <option value="commitee">Commitee</option>
                    <option value="voter">Voter</option>
                  </select>
                <button type="submit" class="login-button">LOGIN</button>
            </form>
        </div>
        <div class="login-footer">
            <p class="login-footer-item">Or join our fantastic community <span><a routerLink="/login" class="login-link fw-bold">here</a></span></p>
        </div>
    </div>
</div>