.content {
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;
}
.card {
    width: 390px;
    min-height: 450px;
    background: #653780;
    border-radius: 15px;
    box-shadow: 1px 5px 60px 0px #100a886b;
    padding: 24px 8px;
}
.card h3 {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 16px;
}
.card p {
    color: white;
    text-align: center;
}
.card .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 14px;
}
.card .img {
    width: 200px;
    height: 200px;
    background: #6b64f3;
    border-radius: 15px;
    margin: auto;
}
.card button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: #6b64f3;
    color: white;
    font-weight: 600;
}