<div class="container">
    <div class="text-center pt-3 pb-2">
        <h3 class="text-white">Election Event</h3>
    </div>
    <div class="d-flex justify-content-center">
        <div class="form-field">
            <form>
                <div class="mb-2">
                    <label for="eventName" class="form-label text-main fw-bold">Name</label>
                    <input type="text" class="form-control" formControlName="name" id="eventName"
                        placeholder="Event Name" [disabled]="true">
                </div>
                <div class="mb-2">
                    <div class="row">
                        <div class="col-6">
                            <label for="eventName" class="form-label text-main fw-bold">Start Date</label>
                            <input type="text" class="form-control" formControlName="startDate" id="eventStart" placeholder="Event Start" [disabled]="true">
                        </div>
                        <div class="col-6">
                            <label for="eventName" class="form-label text-main fw-bold">End Date</label>
                            <input type="text" class="form-control" formControlName="endDate" id="eventEnd" placeholder="Event End" [disabled]="true">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="content">
        <div *ngFor="let candidate of candidates" class="card">
            <div class="img">
                <img src="{{ candidate.photo }}" alt="Candidates" class="img">
            </div>
            <h3>{{ candidate.name }}</h3>
            <h3>{{ candidate.faculty }}</h3>
            <p>{{ candidate.Description }}</p>
            <p>{{ candidate.jargon }}</p>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" routerLink="/elections">Back</button>
    </div>
</div>