<div class="container">
    <div class="text-center pt-3 pb-2">
        <h3 class="text-white">Election Event</h3>
    </div>
    <div *ngIf="isLoading" class="d-flex justify-content-center mt-5 pt-5">
        <div class="spinner-grow text-primary mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-danger mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-warning mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info mx-2" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div *ngIf="!isLoading">
        <div class="d-flex justify-content-center">
            <div class="form-field">
                <form [formGroup]="eventForm">
                    <div class="mb-2">
                        <label class="form-label text-center fw-bold">Name</label>
                        <h4 class="text-white fw-semibold">{{ electionDetail.name }}</h4>
                    </div>
                    <div class="mb-2">
                        <div class="row">
                            <div class="col-6">
                                <label class="form-label text-center fw-bold">Start Date</label>
                                <h4 class="text-white fw-semibold">{{ electionDetail.startDate }}</h4>
                            </div>
                            <div class="col-6">
                                <label class="form-label text-center fw-bold">End Date</label>
                                <h4 class="text-white fw-semibold">{{ electionDetail.EndDate }}</h4>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="content">
            <div *ngFor="let candidate of candidates" class="card">
                <div class="img">
                    <img src="{{ candidate.photo }}" alt="Candidates" class="img">
                </div>
                <h3>{{ candidate.name }}</h3>
                <h3>{{ candidate.faculty }}</h3>
                <p>{{ candidate.Description }}</p>
                <p>{{ candidate.jargon }}</p>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" routerLink="/elections">Back</button>
        </div>
    </div>
</div>